.nav_bar{
  background-color: rgb(174, 249, 98);
  border: 1px solid black;
  display:flex ;
  align-items: center;
  justify-content: space-around;
  padding:  20px ;
  font-size: 2rem;
}
.product_container{
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

.flex_div{
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 20px;
  
}
.product_logo{
 
}

.info{
  
 background-color: whitesmoke;
  
   
   
}

.btns{
  margin-left: 7em;
  padding: 1em;
  font-weight: 900;
}
.btns > button{
   padding: 10px 20px;
   margin: -10px;
   border-radius: 10px;
   background-color: greenyellow;
    
}

.total{
  
  padding: 20px;
  width: 14rem;
  background-color: rgb(150, 237, 147);
  font-weight: 600;
}


.cart_quantity{
  position: absolute;
  top: 40px;
   
  
  
}